extends layout

block content
	.main.container.clearfix
		.row
			h1.display-4 Dashboard
			.row
				.col-md-8.col-md-offset-2
					div.form-group
						h1 Buscar Usuario
						input#name.form-control(type='text', placeholder='Nombre de Usuario' name='name')

