extends layout

block content
  .main.container
    .row
      .col-md-12
        h1.display-4.m-b-2 Ejercicios
        div.row.col-md-12
          div.row
            btn.btn.btn-secondary
              a(href='/ejercicios/crear') Crear Usuario
            table.table.table-striped
              thead.thead-light
                tr
                  th(scope="col") Título
                  th(scope="col") Descripción
                  th(scope="col") Categoría
                  th(scope="col") Imagen
                  th(scope="col") Gif
                  th(scope="col") Video
                  th(scope="col") Referencia
                  th(scope="col") Editar
                  th(scope="col") Eliminar
              tbody
                each e in exercise
                  tr
                    td(scope="row") 
                      a(href='/ejercicios/' + e.id + '/editar/') #{e.title}
                    td(scope="row") 
                      a(href='/ejercicios/' + e.id + '/editar/') !{e.description}
                    td(scope="row")   
                      a(href='/ejercicios/' + e.id + '/editar/') #{e.category}
                    td(scope="row")   
                      if e.jpg
                        a(href='/ejercicios/' + e.id + '/editar/') Sí
                      else
                        a(href='/ejercicios/' + e.id + '/editar/') No
                    td(scope="row")
                      if e.gif
                        a(href='/ejercicios/' + e.id + '/editar/') Sí
                      else
                        a(href='/ejercicios/' + e.id + '/editar/') No
                    td(scope="row")
                      if e.video
                        a(href='/ejercicios/' + e.id + '/editar/') Sí
                      else
                        a(href='/ejercicios/' + e.id + '/editar/') No
                    td(scope="row")   
                      a(href='/ejercicios/' + e.id + '/editar/') #{e.originalId}
                    td(scope="row")
                      a.btn.btn-secondary(href='/ejercicios/' + e.id + '/editar/') Editar
                    td(scope="row")
                      a.btn.btn-secondary(href='/ejercicios/' + e.id + '/eliminar/') Eliminar

          