nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
  button.navbar-toggler.hidden-md-up.pull-xs-right(type='button', data-toggle='collapse', data-target='#navbar') &#x2630;
  #navbar.navbar-nav.collapse.navbar-toggleable-sm
    .container
      if currentUser
        a.navbar-brand(href='/dashboard')
          i.icn-logo.material-icons bookmark_border
          | Naturvitia
        .nav-items.clearfix
          if currentUser
            a.nav-item.nav-link(href='/usuarios') Usuarios
            a.nav-item.nav-link(href='/ejercicios') Ejercicios
            a.nav-item.nav-link(href='/notas') Notas
            a.nav-item.nav-link(href='/dashboard') Dashboard
        if currentUser
          div
            img.avatar.img-circle.hidden-xs-down(src='/images/avatar.png', alt='avatar')
            a.btn.btn-light.pull-md-right(href='/logout') Log out
        else  
          a.btn.btn-info.pull-md-right(href='login') Login
      else
        a.navbar-brand(href='/')
          i.icn-logo.material-icons bookmark_border
          | Naturvitia
        .nav-items.clearfix
          
        if currentUser
          div
            img.avatar.img-circle.hidden-xs-down(src='/images/avatar.png', alt='avatar')
            a.btn.btn-light.pull-md-right(href='/logout') Log out
